<?xml version="1.0"?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<context-param>
		<param-name>driverClassName</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
	</context-param>

	<servlet>
		<servlet-name>ls</servlet-name>
		<servlet-class>LoginServlet</servlet-class>

		<init-param>
			<param-name>dbuser</param-name>
			<param-value>system</param-value>
		</init-param>
		<init-param>
			<param-name>dbpass</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>sqlstatement</param-name>
			<param-value>select * from userdetails where uname=? and pass=?</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>rs</servlet-name>
		<servlet-class>RegistrationServlet</servlet-class>

		<init-param>
			<param-name>dbuser</param-name>
			<param-value>system</param-value>
		</init-param>
		<init-param>
			<param-name>dbpass</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>sqlstatement</param-name>
			<param-value>insert into userdetails values(?,?,?,?,?)</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>ls</servlet-name>
		<url-pattern>/readform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rs</servlet-name>
		<url-pattern>/reg</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	<welcome-file>Home.html</welcome-file>
	</welcome-file-list>
	
</web-app>
